{% extends 'base.html' %}

{% block body %}

<div class="container my-3">
    <h2>About iNotes App</h2>
</div>

<div class="container my3">
    <h4></h4>
    <p class="text-center">

        Note-taking apps are more useful than you might think. Taking notes with pen and paper works just fine for some,
        but if you have a smartphone or tablet, using an app designed for note-taking can truly change the way you get
        things done.

        Whether your note-taking style demands minimal design and slick gesture-based functions, or advanced
        organization and cataloging of various media, chances are there's a notes app that's right for you.
      
        I like to keep in mind that no one way of taking notes is the best way overall. Notes are best used for recording information and some of these methods can double as fantastic study tools, but I don’t recommend making notes as a form of studying. Some methods will be better for certain situations and it’s up to us to decide what’s best for ourselves. These are a few methods to add to your arsenal. The best part of having access to different method is being able to combine them with each other to make your own unique method. Remember, you know yourself best when it comes to your learning and what works for you. Try out a few of these popular methods and tweak/modify them to fit you to get the most out of this.
    </p>
    <h5 class="text-center my-4">
        iNotes-by-Abhi
    </h5>

    
</div>
{% endblock body %}