{% extends 'base.html' %}
{% block title %}
    iNotes-Update-Notes
{% endblock title %}
    {% block body %}

    
    <div class="container my-4">
        <h2 mb-3>Update Your Note</h2>
        <form action="/update/{{note.sno}}" method="POST">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Note Title</label>
                <input name="title" required type="text" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" value="{{note.title}}">

            </div>
            <div class="mb-3">
                <label for="exampleFormControlTextarea1" class="form-label">Note Description</label>
                <textarea name="description" required class="form-control" id="exampleFormControlTextarea1"
                    rows="4" value="">{{note.notes}}</textarea>
            </div>
            <button type="submit" class="btn btn-outline-success">Update Note</button>
        </form>
    </div>

        
    {% endblock body %}